@font-face {
    font-family: "Iskra";
    src: url("../assest/fonts/IskraCYR-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotha";
    src: url("../assest/fonts/GothaProReg.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
